p { 
  margin-top: 0; 
  margin-bottom: 0; 
  vertical-align: top 
}
pre { 
  margin-top: 0; 
  margin-bottom: 0; 
  vertical-align: top 
}
table { 
  margin-top: 0; 
  margin-bottom: 0; 
  vertical-align: top 
}
h1 { 
  text-align: 
  center 
}
body {
  background: #0f1115;
  color: #e6e6e6;
  line-height: 1.5;
  font-family: system-ui, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, Arial, sans-serif;
}
a:link, a:visited {
  color: #9393ff; 
}
